*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #faf0d7;
  font-size: 1.2 rem;
  height: 100%;
}

.grid-container > * {
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  color: rgb(255, 255, 255);
  padding: 2rem;
  grid-area: header;
  background-color: #e99948;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  grid-area: navbar;
}

.main{
  grid-area: main;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" 180px
    "navbar" 250px
    "main"  auto
}

@media (min-width: 600px) {
  .grid-container {
  
    grid-template:
    "header header" 150px
    "navbar main" auto
  }
  
}

@media (min-width: 900px) {
  .grid-container {
  
    grid-template:
    "header header header" 150px
    "navbar main main" auto/
    250px auto 250px;
  }
  
}

.tarea-container{
  height: 100%;
  background: #a7bcc1;
  padding: 1em;
  border-radius: 15px;
}